{% extends 'base.html.twig' %}

{% block body %}
{{ dump(showcase) }}
    {{ dump(gelatos) }}
    {#{{ dump(key) }}#}
    <div class="row">
    {% for gelato in gelatos %}
        <div class="col-lg-1" style="background-color: #222;">
            <img id="gelato{{ loop.index }}" class="img-circle img-responsive" ondragstart="drag(event)" draggable="true" src="{{ asset(gelato.image.webPath) }}" alt="{{ gelato.name }}" />
        </div>
    {% endfor %}
    </div>
    <div class="row">
    {% for gelato in showcase.gelatos %}
        <div id="gelato" style="width: 100px; height:100px; border: 1px solid black;" ondrop="drop(event)" ondragover="allowDrop(event)">
        </div>
    {% endfor %}
    </div>
{% endblock %}
