{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            {#{{ dump(showcase.gelatos.get(5)) }}#}
        {#{% for gelato in gelatos %}#}
            {#{{ gelato.position }}#}
        {#{% endfor %}#}
            {{ dump(showcase) }}
            {{ dump(gelatos) }}
            {#{{ dump(gelatos) }}#}
        </div>
    </div>
{% endblock %}
