{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <h1>Gelato creation</h1>
        </div>
        <div class="row">
        {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {#<img class="gelato-image" src="" alt="{{ gelato.name }}" />#}
            {{ form_widget(form.image) }}
            {#{{ form_widget(form.list) }}#}
            <input type="submit" value="Create" />
        {{ form_end(form) }}
        </div>
        <div class="row">
            <ul class="record_actions">
                <li>
                    <a href="{{ path('gelato') }}">
                        Back to the list
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
