{% extends 'base.html.twig' %}

{% block body %}
    <h1>Gelato Image edit</h1>

    {{ form_start(form) }}
        {{ form_row(form.file) }}
        <input type="submit" value="Update" />
    {{ form_end(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('gelatoimage') }}">
                Back to the list
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
